.btn {
    border: none;
    padding: 14px 26px;
    color: #fff;
    font-family: opensans;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-white);
}

.btn--orange {
    background-color: var(--color-orange);
}