:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-font-black: #24242b;
    --color-blue: #7799bb;
    --color-blue-dark: #36a2f4;
    --color-grey: #acacac;
    --color-grey-dark: #414042;
    --color-font-grey: #e8edf2;
    --color-orange: #f26522;
    --color-purple: #8a5b9d;
}

$mobile-sm: 120px;
$mobile-lg: 767px;
$tablet-sm: 768px;
$tablet-lg: 1024px;